# OS crap
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]

# Node / JS
node_modules/

# Build artifacts
dist/
build/
*.o
*.exe

# Large binaries you’ll put in Git LFS instead
*.mp4
*.zip

*.sav
*.dat
*.csv

*.pkl
*.pdf
*.png
+.md
*.md
*.sqlite3
*.bin
*.pickle

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
navegador-dashboard.tar
